@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* ### Primary */
  /* p */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* ### Neutral (h1?)*/
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* ### Gradients */
  --linear1: hsl(0, 0%, 100%);
  --linear2: hsl(0, 100%, 98%);
  --linear3: hsl(0, 80%, 86%);
  --linear4: hsl(0, 74%, 74%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--dark-grayish-red);
  letter-spacing: 15px;
  margin-bottom: 30px;
}

p {
  color: var(--desaturated-red);
  line-height: 1.8;
  margin-bottom: 40px;
}

/* ============ GRID ============= */

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  row-gap: 135px;
}

.logo {
  margin-top: 65px;
  margin-left: 165px;
}

.text-content {
  grid-column: 1 / span 1;
  margin: 0 220px 0 165px;
}

.img-hero {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.h1-color {
  color: var(--desaturated-red);
  font-weight: 300;
}

/* ============ FORM ============= */
.form-email {
  position: relative;
}

.input-email {
  font-family: inherit;
  font-size: 0.9rem;
  width: 100%;
  height: 55px;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid var(--desaturated-red);
}

.input-email::placeholder {
  color: var(--desaturated-red);
  opacity: 0.7;
}

.btn-email {
  position: absolute;
  height: 55px;
  width: 100px;
  border-radius: 30px;
  border: unset;
  right: 0;
  background: linear-gradient(135deg, var(--linear3), var(--linear4));
  box-shadow: -1px 10px 20px 6px hsla(0, 74%, 74%, 0.3);
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  body {
    background-image: unset;
    background: linear-gradient(135deg, var(--linear1), var(--linear2));
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 10px;
  }

  p {
    font-size: 0.9rem;
  }

  .container {
    display: block;
  }

  .logo {
    margin: 40px 30px;
  }

  .img-hero {
    display: block;
    margin-bottom: 50px;
  }

  .text-content {
    margin: 0 30px 100px 30px;
  }

  .input-email {
    background-color: inherit;
  }
}
